In [1]:
library(tidyverse)
library(data.table)

analysis_region <- fread('~/rl3328/gpQTL_project/finemapping/script/TADB_enhanced_cis.coding_nochrX.bed')
analysis_region %>% head

gene_tss <- fread('~/rl3328/resource/Homo_sapiens.GRCh38.103.chr.reformatted.collapse_only.gene.region_list.2025')
gene_tss %>% head

weights_files <- list.files('/mnt/lustre/data/gaowang/twas_weights/ROSMAP_eQTL', 
                           pattern = 'rds$', 
                           full.names = TRUE, 
                           recursive = TRUE)
weights_files <- grep("DeJager", weights_files, value = TRUE)
weights_files %>% length

data_meta <- data.frame( original_data = weights_files) %>% 
    mutate(gene_id = str_extract(original_data, 'ENSG[0-9]+')) %>%
    merge(analysis_region) %>% 
    merge(gene_tss[,c('TSS', 'gene_id')]) %>% 
    mutate(contexts = NA) %>% 
    rename(region_id = gene_id) %>% 
    select(`#chr`, region_id, TSS, start, end, contexts, original_data) %>% distinct
write.table(data_meta, "./ROSMAP_eQTL.meta_twas.tsv", sep=" ", quote=TRUE, col.names=TRUE, row.names=FALSE)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.2
✔ purrr     1.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

  #chr start end     gene_id
1 chr1 0     6480000 ENSG00000008128
2 chr1 0     6480000 ENSG00000008130
3 chr1 0     6480000 ENSG00000067606
4 chr1 0     7101193 ENSG00000069424
5 chr1 0     7960000 ENSG00000069812
6 chr1 0     6480000 ENSG00000078369

  #chr TSS   TES   gene_id         gene_name
1 chr1 11869 14409 ENSG00000223972 DDX11L1
2 chr1 29570 14404 ENSG00000227232 WASH7P
3 chr1 17436 17369 ENSG00000278267 MIR6859-1
4 chr1 29554 31109 ENSG00000243485 MIR1302-2HG
5 chr1 30366 30503 ENSG00000284332 MIR1302-2
6 chr1 36081 34554 ENSG00000237613 FAM138A

[1] 16603

In [7]:
write.table(data_meta, "./ROSMAP_QTL.meta_twas.tsv", sep=" ", quote=TRUE, col.names=TRUE, row.names=FALSE)

In [1]:
a = readRDS("/mnt/lustre/lab/ctcn/hklein/motor_qlt_project/unadjusted_wp_2020/susie_twas/noQC_nonimputed_result/twas/ROSMAP_eQTL_wp_unadjusted.chr21_20636255_21990355.twas_data.rds")
str(a)

 list()

In [1]:
a =readRDS("/mnt/lustre/lab/ctcn/hklein/motor_qlt_project/unadjusted_wp_2020/susie_twas/noQC_nonimputed_result/twas/ROSMAP_eQTL_wp_unadjusted.chr21_40333834_41654474.twas_data.rds")
str(a)

 list()